doctype html
html
    head
        style
            include style.css
    body
        div
            | HELLO

        div
            block content

        div.footer
            | Best regard
            br
            a(href=frontendURL) Vadym Vinnichuk